$red-400: #f87171;
$orange-300: #fdba74;

$bold-color: $red-400;
$italic-color: $orange-300;


body {
  --bold-color: #{$bold-color};
  --italic-color: #{$italic-color};

  --list-bullet-size: 0.25em;
  --list-marker-color: var(--text-normal);
}

.theme-dark :not(pre) > code,
.theme-dark .cm-s-obsidian span.cm-inline-code {
  background: var(--background-secondary-alt);
}
